//reset
/*reset en css */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
//estilos generales
/*estilos generales*/
@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/extend";
@import "utilidades/condicionales";